.env
.venv/
__pycache__/
qdrant/*
BCSE306L_ARTIFICIAL-INTELLIGENCE_TH_1.0_67_BCSE306L.pdf
db.py
demo.mp3
parkhi12a.pdf
temp.xlsx
test.pptx
tester.py
node_modules/
client/@/*
dist/
android/
static/
vite.config.js
vite.config.d.ts
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
capacitor.config.js
capacitor.config.d.ts
files_combiner.py
combined_output.txt
local_storage/
